<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>企业认证</title>
    <link rel="stylesheet" th:href="@{~/css/interface/bootstrap.css}" >
    <link rel="stylesheet" th:href="@{~/css/interface/bootstrap-datetimepicker.min.css}">
    <link rel="stylesheet" th:href="@{~/css/interface/public.css}">
    <link rel="stylesheet" th:href="@{~/css/interface/style.css}">
    <link rel="stylesheet" th:href="@{~/css/interface/gloab.css}">
    <link rel="stylesheet" th:href="@{~/css/interface/index.css}">
    <script th:src="@{~/js/interface/jquery-1.11.1.min.js}"></script>
    <script th:src="@{~/js/interface/bootstrap-datetimepicker.js}"></script>
    <script th:src="@{~/js/interface/authcompany.js}"></script>
</head>
<body class="bgf4">
<div class="fl w header_top">

</div>
<div class="login-box f-mt10 f-pb50">
    <div class="main bgf">
        <div class="reg-box-pan display-inline">
            <div class="step">
                <ul>
                    <li class="col-xs-3 on">
                        <span class="num"><em class="f-r5"></em><i>1</i></span>
                        <span class="line_bg lbg-r"></span>
                        <p class="lbg-txt">填写账户信息</p>
                    </li>
                    <li class="col-xs-3 on">
                        <span class="num"><em class="f-r5"></em><i>2</i></span>
                        <span class="line_bg lbg-l"></span>
                        <span class="line_bg lbg-r"></span>
                        <p class="lbg-txt">实名认证</p>
                    </li>
                    <li class="col-xs-3 on">
                        <span class="num"><em class="f-r5"></em><i>3</i></span>
                        <span class="line_bg lbg-l"></span>
                        <span class="line_bg lbg-r"></span>
                        <p class="lbg-txt">企业认证</p>
                    </li>
                    <li class="col-xs-3">
                        <span class="num"><em class="f-r5"></em><i>4</i></span>
                        <span class="line_bg lbg-l"></span>
                        <p class="lbg-txt">注册成功</p>
                    </li>
                </ul>
            </div>
            <div class="reg-box" id="verifyCheck" style="margin-top:20px;">
                <form th:action="@{/user/dobindcompany(type='ING')}" th:object="${bindCompanyVM}" method="post" enctype="multipart/form-data">
                    <div class="part3" style="min-height:500px;display:block">
                        <div class="item col-xs-12">
                            <span class="intelligent-label f-fl"><b class="ftx04">*</b>请输入统一社会信用代码</span>
                            <div class="f-fl item-ifo">
                                <input type="text" class="txt03 f-r3 required" onblur="checkCompanyCode(this.value)" value="" tabindex="2" id="shxydm" name="companyCode" data-valid="isNonEmpty||between:5-20" data-error="信用代码不能为空||信用代码长度5-20位" maxlength="18" />
                                <span class="ie8 icon-close close hide"></span>
                                <label class="icon-sucessfill blank hide"></label>
                                <label class="focus">
                                    <span id="companycode">请输入统一社会信用代码</span>
                                    <span id="aftercheckcompanycode" th:if="${#fields.hasErrors('companyCode')}">
                                        <font color="red" th:errors="*{companyCode}"></font>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="item col-xs-12">
                            <span class="intelligent-label f-fl"><b class="ftx04">*</b>企业名称：</span>
                            <div class="f-fl item-ifo">
                                <input type="text" maxlength="10" value="" id="qymc" onblur="checkcompanyName(this.value)" name="companyName" class="txt03 f-r3 required" tabindex="1" data-valid="isNonEmpty||between:3-30" data-error="企业名称不能为空||企业名称长度3-30位" />
                                <span class="ie8 icon-close close hide"></span>
                                <label class="icon-sucessfill blank hide"></label>
                                <label class="focus">
                                    <span id="companyname">请填写企业名称</span>
                                    <span id="aftercheckcompanyname" th:if="${#fields.hasErrors('companyName')}">
                                        <font color="red" th:errors="*{companyName}"></font>
                                    </span>
                                </label>
                                <label class="focus valid"></label>
                            </div>
                        </div>
                        <div class="item col-xs-12">
                            <span class="intelligent-label f-fl"><b class="ftx04">*</b>法定代表人：</span>
                            <div class="f-fl item-ifo">
                                <input type="text" class="txt03 f-r3 required"  tabindex="2" value="" id="frxm" name="legalPersonName" onblur="checkLegalName(this.value)" data-valid="isNonEmpty||between:2-20" data-error="真实姓名不能为空||真实姓名长度2-20位" maxlength="18" />
                                <span class="ie8 icon-close close hide"></span>
                                <label class="icon-sucessfill blank hide"></label>
                                <label class="focus">
                                    <span id="legalpersonname">请填写法定代表人姓名</span>
                                    <span id="afterchecklegalpersonname" th:if="${#fields.hasErrors('legalPersonName')}">
                                        <font color="red" th:errors="*{legalPersonName}"></font>
                                    </span>
                                </label>
                                <label class="focus valid"></label>
                            </div>
                        </div>
                        <div class="item col-xs-12">
                            <span class="intelligent-label f-fl"><b class="ftx04">*</b>法人身份证号码：</span>
                            <div class="f-fl item-ifo">
                                <input type="text" class="txt03 f-r3 required" tabindex="2" id="frsfzhm" name="legalPersonID" onblur="checkLegalID(this.value)" data-valid="isNonEmpty||between:5-20" data-error="信用代码不能为空||信用代码长度5-20位" maxlength="18" />
                                <span class="ie8 icon-close close hide"></span>
                                <label class="icon-sucessfill blank hide"></label>
                                <label class="focus">
                                    <span id="legalpersonid">请填写法定代表人身份证号码</span>
                                    <span id="afterchecklegalpersonid" th:if="${#fields.hasErrors('legalPersonID')}">
                                        <font color="red" th:errors="*{legalPersonID}"></font>
                                    </span>
                                </label>
                                <label class="focus valid"></label>
                            </div>
                        </div>

                        <div class="item col-xs-12">
                            <span class="intelligent-label f-fl"><b class="ftx04">*</b>法人电话号码：</span>
                            <div class="f-fl item-ifo">
                                <input type="text" class="txt03 f-r3 required" tabindex="2" value="" id="frdhhm" name="legalPersonPhone" onblur="checkLegalPhone(this.value)" data-valid="isNonEmpty||between:5-20" data-error="信用代码不能为空||信用代码长度5-20位" maxlength="18" />
                                <span class="ie8 icon-close close hide"></span>
                                <label class="icon-sucessfill blank hide"></label>
                                <label class="focus">
                                    <span id="legalpersonphone">请填写法人电话号码</span>
                                    <span id="afterchecklegalpersonphone" th:if="${#fields.hasErrors('legalPersonPhone')}">
                                        <font color="red" th:errors="*{legalPersonPhone}"></font>
                                    </span>
                                </label>
                                <label class="focus valid"></label>
                            </div>
                        </div>
                        <div class="item col-xs-12">
                            <span class="intelligent-label f-fl"><b class="ftx04">*</b>注册地址：</span>
                            <div class="f-fl item-ifo">
                                <input type="text" class="txt03 f-r3 required" tabindex="2" value="" id="zcdz" name="companyAddress" onblur="checkLegalCompanyAddress(this.value)" data-valid="isNonEmpty" data-error="注册地址必须填写" maxlength="18" />
                                <span class="ie8 icon-close close hide"></span>
                                <label class="icon-sucessfill blank hide"></label>
                                <label class="focus">
                                    <span id="companyaddress">请输入注册地址</span>
                                    <span id="aftercheckcompanyaddress" th:if="${#fields.hasErrors('companyAddress')}">
                                        <font color="red" th:errors="*{companyAddress}"></font>
                                    </span>
                                </label>
                                <label class="focus valid"></label>
                            </div>
                        </div>
                        <div class="item col-xs-12">
                            <span class="intelligent-label f-fl"><b class="ftx04">*</b>上传营业执照</span>
                            <div class="form-group" >
                                <input type="file" id="yyzz" name="businessLicence">
                            </div>
                        </div>
                        <div class="item col-xs-12">
                           <font color="red" th:text="${msg}"></font>
                        </div>
                        <div class="item col-xs-12">
                            <span class="intelligent-label f-fl">&nbsp;</span>
                            <div class="f-fl item-ifo">
                                <button class="btn btn-blue f-r3" id="btn_part3">提交资料</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="m-sPopBg" style="z-index:998;"></div>
<div class="m-sPopCon regcon">
    <div class="m-sPopTitle"><strong>服务协议条款</strong><b id="sPopClose" class="m-sPopClose" onClick="closeClause()">×</b></div>
    <div class="apply_up_content">
    	<pre class="f-r0">
		<strong>同意以下服务条款，提交注册信息</strong>
        </pre>
    </div>
    <center><a class="btn btn-blue btn-lg f-size12 b-b0 b-l0 b-t0 b-r0 f-pl50 f-pr50 f-r3" href="javascript:closeClause();">已阅读并同意此条款</a></center>
</div>
<div class="container-fluid footer">
    <p style="text-align:center;margin-top:10px;">办公地址：三亚市吉阳区新风街259号&nbsp;&nbsp;邮编：572000&nbsp;&nbsp;行政审批咨询电话：38860182&nbsp;&nbsp;&nbsp;公共资源交易咨询电话：38860923&nbsp;&nbsp;&nbsp;投诉电话：38860880</p>
    <p>主办单位：三亚市人民政府政务服务中心  ICP备案编号：琼ICP 备14000806号-1  版权所有 未经许可不得复制  </p>
    <span class="footer_spa"><a href="@" target="_blank"><img id="imgConac" vspace="0" hspace="0" border="0" src="${pageContext.request.contextPath}/images/blue.png"></a></span>
    <a target="_blank" href="#"><img src="${pageContext.request.contextPath}/images/jiucuo.png"></a>
    <div align="center" style="width:300px;margin:0 auto; padding:20px 0;"><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=46020302000020" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="http://zwzx.sanya.gov.cn/images/ghs.png" style="float:left;"><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">琼公网安备 46020302000020号</p></a></div>
</div>
<script>

    $(function () {
        $('#datetimepicker1').datetimepicker({
            language: 'cn',
            autoclose: true,
            todayHighlight: true,
            minView: "month",
            format: 'yyyy-mm-dd'
        });

    });
    $(function () {
        $('#datetimepicker2').datetimepicker({
            language: 'cn',
            autoclose: true,
            todayHighlight: true,
            minView: "month",
            format: 'yyyy-mm-dd'
        });

    });
    $(function () {
        $('#datetimepicker3').datetimepicker({
            language: 'cn',
            autoclose: true,
            todayHighlight: true,
            minView: "month",
            format: 'yyyy-mm-dd'
        });

    });
    $(function () {
        $('#datetimepicker4').datetimepicker({
            language: 'cn',
            autoclose: true,
            todayHighlight: true,
            minView: "month",
            format: 'yyyy-mm-dd'
        });

    });
</script>
<script>
    function getDate(obj) {
        var code=$("#shxydm").val();
        window.location.href="${pageContext.request.contextPath}/interface/getData.html?code="+code+""
    }
</script>
</body>
</html>
