
<style>
    .body_right_lanmu {
        width: 100%;
        overflow: hidden;
        position: relative;
        /*border: 1px solid #e7e7e7;*/
        /*background-color: #fff;*/
        height:420px;
    }

    .body_right_lanmu .item_l{width:48%;height: 200px;background: #1492FF;margin:100px auto 0;}
    .body_right_lanmu .item_r{width:48%;height: 200px;background: #1072a2;margin:100px auto 0;}
    .body_right_lanmu .item_r .linka{width: 100%;display: block;text-align: center;font-size: 32px;line-height: 200px;color:#ffffff;}
    .body_right_lanmu .item_l .linka{width: 100%;
        display: block;
        text-align: center;
        font-size: 32px;
        line-height: 200px;
        color: #fff;}
</style>
<body>
<div class="body_right_lanmu">

        <div class="item_r"><a target="_blank" class="linka" id="qywrz">去企业绑定</a></div>

</div>
<script type="application/javascript">
    $(document).ready(function(){
        $("#qywrz").click(function(){
            if(${sessionScope.user.verified =="已认证"}){
                if(${sessionScope.authStatus==null}){//该用户获取状态是空数据说明未认证
                    window.open('${pageContext.request.contextPath}/user/newUserEditAuthentication.html?type=${myfn:encrypt("企业实名")}')
                }
            }else {
                alert('您未实名认证，请到个人实名认证填写资料')
            }
        });
    })
</script>

